# Telegram Bot Token (BotFather'dan alınacak)
TELEGRAM_BOT_TOKEN=7974520705:AAF2lFdso9d2941WyZ4UdaHCiWCwix8D0b8

# MySQL Veritabanı Ayarları
MYSQLHOST=localhost
MYSQLPORT=3306
MYSQLUSER=root
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=deysis_users

# Bot Ayarları
BOT_ADMIN_ID=ronin90120
