# Telegram Bot Token (BotFather'dan alınacak)
TELEGRAM_BOT_TOKEN=

# MySQL Veritabanı Ayarları
MYSQLHOST=localhost
MYSQLPORT=3306
MYSQLUSER=root
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=deysis_users

# Bot Ayarları
BOT_ADMIN_ID=
